.navbar{
    background: #ffffff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}

.nav_icon{
    display: none;
}

.nav_icon > i {
    font-size: 25px;
    color: #a5aaad;
    
}

.navbar__left > a{
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
}

.navbar__left .active_link{
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}
.navbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
}
.navbar__right > a > i{
   color: #a5aaad;
   font-size: 16px;
   border-radius: 50px;
   background: #ffffff;
   box-shadow: 2px 2px 5px #d9d9d9, -2px -2px -5px #ffffff; 
   padding: 7px;
}

@media only screen and (max-width: 480px){
    .navbar__left{
        display: none;
    }
}

