@input url("https://fonts.googleapis.com/css2?family=Lato:wgh@300:400:700&display=swap");

/*  styling scrollbars*/

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #a5aaad;
}

/* general styling*/

 *{
   margin: 0;
   padding: 0;
 }

 body{
   box-sizing: border-box;
   font-family: "Lato", sans-serif;
 }

 .text-primary-p {
   color: #a5aaad;
   font-size: 14px;
   font-weight: 700;
 }

 .font-bold {
   font-weight: 700;
 }
 
 .text-title {
   color: #2e4a66;
 }

 .text-lightblue {
   color: #469cac;
 }
  .text-red{
    color: #cc3d38;
  }
  .text-yellow{
    color: #a98921;
  }
  .text-green{
   color: #3b9668;
  }
  .container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar nav nav nav" 
        "sidebar main main main";
  }

  @media only screen and (max-width:978){
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas: 
      "nav"
      "main";
    }
  }